<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///humanresource</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<mapping resource="Models/Admin.hbm.xml"/>
		<mapping resource="Models/Staff.hbm.xml"/>
		<mapping resource="Models/Job.hbm.xml"/>
		<mapping resource="Models/Department.hbm.xml"/>
		<mapping resource="Models/Attendance.hbm.xml"/>
		<mapping resource="Models/PersonnelChange.hbm.xml"/>
		<mapping resource="Models/CheckList.hbm.xml"/>
	</session-factory>
</hibernate-configuration>